<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <header class="header">
        <div class="user-info">
          <h2>Relatórios</h2>
          <p>Aqui está o resumo do seu departamento.</p>
        </div>
        <div class="quick-actions">
          <button pButton label="Abrir Novo Chamado" routerLink="/abrir-chamado" class="cta-button"></button>
        </div>
      </header>

      <div class="grid">
        <div class="col-6 md:col-3">
            <p-card>
                <div class="card-content">
                    <i class="pi pi-check"></i>
                    <h2>Total Chamados</h2>
                    <h3>{{ totalChamados }}</h3>
                </div>
            </p-card>
        </div>
        <div class="col-6 md:col-3">
            <p-card>
                <div class="card-content">
                    <i class="pi pi-folder-open"></i>
                    <h2>Chamados Abertos</h2>
                    <h3>{{ chamadosAbertos }}</h3>
                </div>
            </p-card>
        </div>
        <div class="col-6 md:col-3">
            <p-card>
                <div class="card-content">
                    <i class="pi pi-check-circle"></i>
                    <h2>Chamados Fechados</h2>
                    <h3>{{ chamadosFechados }}</h3>
                </div>
            </p-card>
        </div>
        <div class="col-6 md:col-3">
            <p-card>
                <div class="card-content">
                    <i class="pi pi-exclamation-triangle"></i>
                    <h2>Chamados Urgentes</h2>
                    <h3>{{ chamadosUrgentes }}</h3>
                </div>
            </p-card>
        </div>
    </div>


      <p-table [value]="data" [ngClass]="{'custom-table': true}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Tempo Médio de Solução</th>
                <th>Resolução (%)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.averageResolutionTime }} hrs</td>
                <td>
                    <p-progressBar [value]="item.resolutionRate" [showValue]="true"></p-progressBar>
                </td>
            </tr>
        </ng-template>
    </p-table>




      <!-- Relatórios -->
      <section class="charts">
        <div class="p-grid">
          <div class="p-col-12 p-md-4 chart">
            <h3>Tempo Médio de Resolução dos Chamados</h3>
            <ngx-charts-bar-vertical
              [view]="view"
              [results]="tempoMedioResolucaoData"
              [legend]="true"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Técnico"
              yAxisLabel="Tempo Médio (horas)"
              [gradient]="false">
            </ngx-charts-bar-vertical>
            <p-button label="Exportar para CSV" icon="pi pi-download" class="p-button-secondary" (click)="exportToCSV('tempoMedioResolucaoData')"></p-button>
            <p-button label="Exportar para PDF" icon="pi pi-file-pdf" class="p-button-secondary ml-2" (click)="exportToPDF('Tempo Médio de Resolução dos Chamados')"></p-button>
          </div>

          <div class="p-col-12 p-md-4 chart">
            <h3>Top 5 Técnicos - Resolução de Chamados</h3>
            <ngx-charts-bar-horizontal
              [view]="view"
              [results]="topTecnicosData"
              [legend]="false"
              [xAxis]="true"
              [yAxis]="true"
              xAxisLabel="Chamados Resolvidos"
              yAxisLabel="Técnico"
              [gradient]="false">
            </ngx-charts-bar-horizontal>
            <p-button label="Exportar para CSV" icon="pi pi-download" class="p-button-secondary" (click)="exportToCSV('topTecnicosData')"></p-button>
            <p-button label="Exportar para PDF" icon="pi pi-file-pdf" class="p-button-secondary ml-2" (click)="exportToPDF('Top 5 Técnicos - Resolução de Chamados')"></p-button>
          </div>

          <div class="p-col-12 p-md-4 chart">
            <h3>Quantidade de Soluções em Relação ao Total de Chamados</h3>
            <ngx-charts-pie-chart
              [view]="view"
              [results]="quantidadeSolucoesData"
              [legend]="true"
              [explodeSlices]="false"
              [labels]="true"
              [doughnut]="true"
              [gradient]="false">
            </ngx-charts-pie-chart>
            <p-button label="Exportar para CSV" icon="pi pi-download" class="p-button-secondary" (click)="exportToCSV('quantidadeSolucoesData')"></p-button>
            <p-button label="Exportar para PDF" icon="pi pi-file-pdf" class="p-button-secondary ml-2" (click)="exportToPDF('Quantidade de Soluções em Relação ao Total de Chamados')"></p-button>
          </div>
        </div>
      </section>

      <!-- Seção de Chamados Recentes -->
      <section class="recent-tickets">
        <h3>Últimos Chamados</h3>
        <ul class="p-list">
          <li *ngFor="let chamado of ultimosChamados">
            <a>{{ chamado.titulo }} - {{ chamado.status }}</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
