<div class="navbar">
  <div class="logo">
    <h1><a href="#">TecFlux</a></h1>
  </div>
  <div class="nav-links">
    <a href="#">Início</a>
    <a href="#">Recursos</a>
    <a href="#">Planos</a>
    <a href="#">Contato</a>
    <a href="trabalhe-conosco">Trabalhe Conosco</a>
    <a href="faq">FAQ</a>
    <a href="sobre-nos">Quem Somos</a>    
    <button class="cta-button" [routerLink]="['/cad_empresa']">
      Cadastre Sua Empresa
    </button>
    <button class="cta-button" [routerLink]="['/login']">Login</button>
  </div>
</div>
  <div>
    <header class="trabalhe-conosco-header">
      <h1>Trabalhe Conosco</h1>
    </header>
    <main class="trabalhe-conosco-content">
      <form>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required />
  
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required />
  
        <label for="resume">Currículo:</label>
        <input type="file" id="resume" name="resume" required />
  
        <button type="submit">Enviar</button>
      </form>
    </main>
    <footer class="trabalhe-conosco-footer">
    </footer>
  </div>
  
