<div class="navbar">
  <div class="logo">
    <h1><a href="#">TecFlux</a></h1>
  </div>
  <div class="nav-links">
    <a href="#">Início</a>
    <a href="#">Planos</a>
    <a href="trabalhe-conosco">Trabalhe Conosco</a>
    <a href="faq">FAQ</a>
    <a href="sobre-nos">Quem Somos</a>    
    <button class="cta-button" [routerLink]="['/cad_empresa']">Cadastre Sua Empresa</button>
    <button class="cta-button" [routerLink]="['/login']">Login</button>
  </div>
</div>

<div class="faq">
  <div class="faq-container">
    <header class="faq-header">
      <h1>Perguntas Frequentes</h1>
    </header>
    <main class="faq-content">
      <div class="faq-item" *ngFor="let item of faqs">
        <button class="faq-question" (click)="toggleAnswer(item)">
          {{ item.question }}
        </button>
        <div class="faq-answer" *ngIf="item.showAnswer">
          <p>{{ item.answer }}</p>
        </div>
      </div>
    </main>
    <footer class="faq-footer">
    </footer>
  </div>
</div>
