<div class="navbar">
  <div class="logo">
    <h1><a href="#">TecFlux</a></h1>
  </div>
  <div class="nav-links">
    <a href="#">Início</a>
    <a href="#">Recursos</a>
    <a href="#">Planos</a>
    <a href="#">Contato</a>
    <a routerLink="/trabalhe-conosco">Trabalhe Conosco</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/sobre-nos">Quem Somos</a>
  </div>
</div>

<header class="hero-section">
  <div class="hero-content">
    <!-- Barra de Progresso e Passos -->
    <div class="steps-container">
      <div class="step" [ngClass]="{ active: !isAdminStep }">
        <span class="step-number">1</span>
        <span class="step-label">Cadastrar Empresa</span>
      </div>
      <div class="progress-bar">
        <div class="progress" [ngStyle]="{ width: isAdminStep ? '100%' : '50%' }"></div>
      </div>
      <div class="step" [ngClass]="{ active: isAdminStep }">
        <span class="step-number">2</span>
        <span class="step-label">Cadastrar Administrador</span>
      </div>
    </div>

    <h1 *ngIf="!isAdminStep">Cadastre Sua Empresa no TecFlux</h1>
    <h1 *ngIf="isAdminStep">Cadastre o Administrador da Empresa</h1>
    <p *ngIf="!isAdminStep">
      Complete o formulário abaixo para cadastrar sua empresa e começar a
      utilizar nossas soluções.
    </p>
    <p *ngIf="isAdminStep">
      Insira os dados abaixo para completar o cadastro do administrador principal.
    </p>

    <div *ngIf="showPopup" class="popup" [ngClass]="{'error': isError}">
      {{ popupMessage }}
    </div>

    <!-- Formulário de cadastro da empresa -->
    <div class="register-company-form" *ngIf="!isAdminStep">
      <form [formGroup]="empresaForm" (ngSubmit)="onSubmitEmpresa()">
        <!-- Campo CNPJ -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('cnpj') }">
          <label for="cnpj">CNPJ</label>
          <input
            type="text"
            id="cnpj"
            formControlName="cnpj"
            mask="00.000.000/0000-00"
            (blur)="onCnpjBlur()"
            required
          />
          <div *ngIf="isFieldInvalid('cnpj')" class="error-message">
            CNPJ inválido.
          </div>
        </div>

        <!-- Campo Nome da Empresa -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('companyName') }">
          <label for="companyName">Nome da Empresa</label>
          <input type="text" id="companyName" formControlName="companyName" required />
          <div *ngIf="isFieldInvalid('companyName')" class="error-message">
            Campo obrigatório.
          </div>
        </div>

        <!-- Campo Endereço -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('address') }">
          <label for="address">Endereço</label>
          <input type="text" id="address" formControlName="address" required />
          <div *ngIf="isFieldInvalid('address')" class="error-message">
            Campo obrigatório.
          </div>
        </div>

        <!-- Campo Telefone da Empresa -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('phone') }">
          <label for="phone">Telefone da Empresa</label>
          <input
            type="text"
            id="phone"
            formControlName="phone"
            mask="(00) 0000-00009"
            required
          />
          <div *ngIf="isFieldInvalid('phone')" class="error-message">
            Telefone inválido.
          </div>
        </div>

        <button type="submit" class="cta-button">Avançar</button>
      </form>
    </div>

    <!-- Formulário de cadastro do administrador -->
    <div class="register-admin-form" *ngIf="isAdminStep">
      <form [formGroup]="adminForm" (ngSubmit)="onSubmitAdmin()">
        <!-- Campo Nome do Administrador -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('userName') }">
          <label for="userName">Nome do Administrador</label>
          <input type="text" id="userName" formControlName="userName" required />
          <div *ngIf="isFieldInvalid('userName')" class="error-message">
            Campo obrigatório.
          </div>
        </div>

        <!-- Campo Email do Administrador -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('userEmail') }">
          <label for="userEmail">Email do Administrador</label>
          <input type="email" id="userEmail" formControlName="userEmail" required />
          <div *ngIf="isFieldInvalid('userEmail')" class="error-message">
            Email inválido.
          </div>
        </div>

        <!-- Campo Telefone do Administrador -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('userPhone') }">
          <label for="userPhone">Telefone do Administrador</label>
          <input
            type="text"
            id="userPhone"
            formControlName="userPhone"
            mask="(00) 00000-0000"
            required
          />
          <div *ngIf="isFieldInvalid('userPhone')" class="error-message">
            Telefone inválido.
          </div>
        </div>

        <!-- Campo Cargo do Administrador -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('userPosition') }">
          <label for="userPosition">Cargo do Administrador</label>
          <input type="text" id="userPosition" formControlName="userPosition" required />
          <div *ngIf="isFieldInvalid('userPosition')" class="error-message">
            Campo obrigatório.
          </div>
        </div>

        <!-- Campo Senha do Administrador -->
        <div class="form-group" [ngClass]="{ error: isFieldInvalid('userPassword') }">
          <label for="userPassword">Senha</label>
          <input type="password" id="userPassword" formControlName="userPassword" required />
          <div *ngIf="isFieldInvalid('userPassword')" class="error-message">
            Campo obrigatório.
          </div>
        </div>

        <!-- Campo Roles (oculto ou pré-definido) -->
        <!-- Se quiser que o usuário selecione o papel, pode adicionar um campo aqui. Caso contrário, o campo pode ser omitido do HTML, já que o valor padrão é definido no FormGroup -->

        <button type="submit" class="cta-button">Cadastrar</button>
      </form>
    </div>
  </div>
</header>

<footer class="footer">
  <p>&copy; 2024 TecFlux. Todos os direitos reservados.</p>
</footer>
