<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <h2>Setores</h2>
      <p-toast></p-toast>

      <!-- Botão para abrir o diálogo de cadastro -->
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="center">
          <div class="my-2">
            <button pButton pRipple label="Cadastrar Setor" icon="pi pi-plus" class="p-button mr-2" (click)="openSetorDialog()"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <!-- Tabela de setores -->
      <p-table
        [value]="setores"
        responsiveLayout="scroll"
        [rows]="pageSize"
        [paginator]="true"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onLazyLoad)="fetchSetores($event)"
        [loading]="loading"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome do Setor</th>
            <th>Descrição</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-setor>
          <tr>
            <td>{{ setor.name }}</td>
            <td>{{ setor.description }}</td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Diálogo para cadastro de setor -->
      <p-dialog [(visible)]="setorDialog" [style]="{ width: '400px' }" header="Cadastrar Setor" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <form [formGroup]="setorForm">
            <div class="field">
              <label for="name">Nome do Setor</label>
              <input id="name" pInputText formControlName="name" />
              <div *ngIf="setorForm.controls['name'].invalid && setorForm.controls['name'].touched" class="error">
                Nome é obrigatório.
              </div>
            </div>
            <div class="field">
              <label for="description">Descrição</label>
              <textarea id="description" pInputTextarea formControlName="description"></textarea>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="onSubmitSetor()"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>