.card {
  .my-3 {
    margin-bottom: 2rem;

    button {
      margin-right: 1rem;
    }
  }

  p-panel {
    margin-bottom: 2rem;
  }

  .field {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input[pInputText],
    p-dropdown,
    textarea[pInputTextarea] {
      width: 100%; /* Garantir que os inputs e dropdowns ocupem 100% do espaço */
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
    }

    input[pInputText]:focus,
    textarea[pInputTextarea]:focus {
      border-color: #007ad9;
      outline: none;
    }
  }
}
