/* Estilo geral da página */
.sobre-nos {
  font-family: Arial, sans-serif;
  background-color: #f4f8fb;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
.sobre-nos-header {
  background-color: #00509E;
  color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sobre-nos-header h1 {
  margin: 0;
  font-size: 2.2em;
  font-weight: bold;
  text-transform: uppercase;
}

/* Conteúdo */
.sobre-nos-content {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-nos-content h2 {
  margin-top: 30px;
  font-size: 1.8em;
  color: #00509E;
  border-bottom: 2px solid #0079BF;
  padding-bottom: 10px;
}

.sobre-nos-content p, 
.sobre-nos-content ul {
  margin-top: 15px;
  font-size: 1.1em;
  color: #333;
}

.sobre-nos-content ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.sobre-nos-content ul li {
  margin-bottom: 10px;
}

.sobre-nos-content p {
  text-align: justify;
}

/* Adicionando efeitos de transição */
.sobre-nos-content h2,
.sobre-nos-content p,
.sobre-nos-content ul {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sobre-nos-content:hover h2,
.sobre-nos-content:hover p,
.sobre-nos-content:hover ul {
  transform: translateY(-5px);
  opacity: 0.9;
}

/* Rodapé */
.sobre-nos-footer {
  background-color: #00509E;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  border-top: 2px solid #0079BF;
}

.sobre-nos-footer p {
  margin: 0;
  font-size: 1em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0079BF;
  padding: 15px 30px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.navbar .logo h1 {
  padding-top: 10px;
  font-size: 1.8em;
  font-weight: 700;
}

.navbar .logo h1 a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar .nav-links a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
}

.navbar .cta-button {
  background-color: #61AFFF;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.navbar .cta-button:hover {
  background-color: #5BA4CF;
}