<div class="grid">
  <div class="col-12">
    <div class="card kanban-card">
      <h2>Kanban Board</h2>
      <p-toast></p-toast>
    
      <!-- Tabuleiro Kanban -->
      <div class="kanban-board">
        <div
          class="kanban-column"
          *ngFor="let column of boardColumns; let i = index"
          [ngStyle]="{ 'background-color': column.color }"
        >
          <h2>{{ column.name }}</h2>
          <div
            cdkDropList
            [cdkDropListData]="column.tasks"
            [cdkDropListConnectedTo]="getConnectedDropLists()"
            class="task-list"
            (cdkDropListDropped)="onTaskDrop($event, i)"
            id="cdk-drop-list-{{ i }}"
          >
            <div
              *ngFor="let task of column.tasks"
              cdkDrag
              class="task-card"
              (click)="openTaskDialog(task)"
            >
              {{ task.nome }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Diálogo de detalhes da tarefa -->
<p-dialog [(visible)]="detalheDialog" [style]="{width: '600px'}" header="Detalhes da Tarefa" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div *ngIf="selectedTask">
      <div class="field">
        <label>Assunto</label>
        <input type="text" pInputText [(ngModel)]="selectedTask.nome" />
      </div>
      <div class="field">
        <label>Departamento</label>
        <p-dropdown
          [(ngModel)]="selectedTask.departamento"
          [options]="departamentos"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione o Departamento"
          required
        ></p-dropdown>
      </div>      
      <div class="field">
        <label>Atribuir para:</label>
        <p-dropdown
          [(ngModel)]="selectedTask.assignedUserId"
          [options]="employees"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione o usuário"
          required
        ></p-dropdown>
      </div>   
      <div class="field">
        <label>Prioridade</label>
        <p-dropdown
          [(ngModel)]="selectedTask.prioridadeId"
          [options]="prioridades"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione a Prioridade"
          required
        ></p-dropdown>
      </div>
      <div class="field">
        <label>Data de Criação</label>
        <p-calendar [(ngModel)]="selectedTask.dataCriacao"></p-calendar>
      </div>
      <div class="field">
        <label>Data de Resolução</label>
        <p-calendar [(ngModel)]="selectedTask.dataResolucao"></p-calendar>
      </div>
      <div class="field">
        <label>Descrição da Atividade</label>
        <input type="text" pInputText [(ngModel)]="selectedTask.descricao"/>
      </div>
    </div>
  </ng-template>
  <!-- Botões de Ação -->
  <ng-template pTemplate="footer">
    <button pButton label="Salvar" icon="pi pi-check" (click)="saveTaskDetails()"></button>
    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="detalheDialog = false"></button>
  </ng-template>
</p-dialog>
