<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <h2>Configurações</h2>

      <!-- Botões de ações -->
      <p-panel header="Ações">
        <div class="my-3">
          <!-- Botão de Alterar Senha com redirecionamento -->
          <button
            pButton
            pRipple
            label="Alterar Senha"
            icon="pi pi-key"
            class="p-button-warning mr-2"
            (click)="changePassword()">
          </button>
        </div>
      </p-panel>
    </div>
  </div>
</div>
