<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <h2>Cadastro de Funcionários</h2>
      <p-toast></p-toast>

      <!-- Botão para abrir o diálogo de cadastro -->
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="center">
          <div class="my-2">
            <button pButton pRipple label="Cadastrar Funcionário" icon="pi pi-plus" class="p-button mr-2" (click)="openEmployeeDialog()"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <!-- Tabela de usuários -->
      <p-table
        [value]="employees"
        responsiveLayout="scroll"
        [rows]="pageSize"
        [paginator]="true"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onLazyLoad)="fetchEmployees($event)"
        [loading]="loading"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Setor</th>
            <th>Posição</th>
            <th>Cargo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ getDepartmentName(user.departmentId) }}</td>
            <td>{{ user.position }}</td>
            <td>{{ user.roles }}</td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Diálogo para cadastro de Usuário -->
      <p-dialog [(visible)]="employeeDialog" [style]="{ width: '400px' }" header="Cadastrar Funcionário" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <form [formGroup]="userForm">
            <div class="field">
              <label for="name">Nome do Funcionário</label>
              <input id="name" pInputText formControlName="name" />
              <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched" class="error">
                Nome é obrigatório.
              </div>
            </div>
            <div class="field">
              <label for="email">Email do Funcionário</label>
              <input id="email" pInputText formControlName="email" />
              <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="error">
                Email é obrigatório.
              </div>
            </div>
            <div class="field">
              <label for="phone">Telefone do Funcionário</label>
              <input id="phone" pInputText formControlName="phone" />
              <div *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].touched" class="error">
                Telefone é obrigatório.
              </div>
            </div>
            <div class="field">
              <label for="departmentId">Setor do Funcionário</label>
              <p-dropdown
                id="departmentId"
                [options]="departamentos"
                formControlName="departmentId"
                optionLabel="label"
                optionValue="value"
                placeholder="Selecione o setor do funcionário"
              ></p-dropdown>
              <div *ngIf="userForm.controls['departmentId'].invalid && userForm.controls['departmentId'].touched" class="error">
                Departamento é obrigatório.
              </div>
            </div>

            <div class="field">
              <label for="roles">Cargo do Funcionário</label>
              <p-multiSelect
                id="roles"
                [options]="cargos"
                formControlName="roles"
                optionLabel="label"
                optionValue="value"
                placeholder="Selecione os cargos do funcionário"
                defaultLabel="Selecione..."
                [showHeader]="true"
                appendTo="body"
              ></p-multiSelect>
              <div *ngIf="userForm.controls['roles'].invalid && userForm.controls['roles'].touched" class="error">
                Cargo é obrigatório.
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="onSubmitEmployee()" [disabled]="userForm.invalid"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>