<div class="p-card">
  <div class="p-card-header">
    <h2>Cadastro de Funcionário</h2>
  </div>
  <div class="p-card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="name">Nome</label>
        <input id="name" pInputText formControlName="name" placeholder="Digite o nome" />
        <div *ngIf="isFieldInvalid('name')" class="error-message">Campo obrigatório.</div>
      </div>

      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" pInputText formControlName="email" placeholder="Digite o email" />
        <div *ngIf="isFieldInvalid('email')" class="error-message">Campo obrigatório.</div>
      </div>

      <div class="p-field">
        <label for="role">Tipo de Usuário</label>
        <p-dropdown 
          id="role" 
          [options]="roles" 
          formControlName="role" 
          optionLabel="label" 
          placeholder="Selecione o tipo de usuário">
        </p-dropdown>
        <div *ngIf="isFieldInvalid('role')" class="error-message">Campo obrigatório.</div>
      </div>

      <div class="p-field informativo">
        <p>A senha será gerada automaticamente e enviada para o email do funcionário.</p>
      </div>

      <div class="p-field">
        <button pButton type="submit" label="Cadastrar" class="cta-button">Cadastrar</button>
      </div>
    </form>
  </div>
</div>