body {
  font-family: 'Inter', sans-serif;
  color: #293E40;
  line-height: 1.6;
  background-color: #F4F5F7;
  margin: 0;
  padding: 0;
  height: 50vh; /* Mantendo a altura em 50vh */
}

.system-header {
  text-align: center;
  margin-top: 20px;
}

.menu-section {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Faz a seção ocupar toda a altura do body */
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 90%; /* Ajuste a largura máxima para 90% da tela */
  margin: 0 auto; /* Centraliza a grid */
}

.menu-item {
  display: flex; /* Flex para centralizar conteúdo */
  flex-direction: column; /* Coloca os itens em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.menu-item h3 {
  margin-top: 0;
  font-size: 18px;
}

.router-link-active {
  border: 2px solid #61AFFF;
  border-radius: 8px;
  padding: 10px;
  background-color: #e0f3ff;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #0079BF;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .menu-item {
    padding: 15px; /* Menor padding em telas menores */
  }

  .menu-item img {
    width: 40px; /* Reduzir tamanho da imagem */
    height: 40px;
  }

  .menu-item h3 {
    font-size: 16px; /* Reduzir tamanho da fonte */
  }
}

@media (max-width: 480px) {
  .menu-section {
    flex-direction: column; /* Altera para coluna em telas muito pequenas */
  }

  .menu-grid {
    grid-template-columns: 1fr; /* Um item por linha */
  }

  .menu-item {
    margin-bottom: 20px; /* Espaço entre itens */
  }
}
