<header>
  <div class="system-header">
    <h1>TecFlux - Bem-vindo ao Sistema</h1>
  </div>
</header>

<body>
  <section class="menu-section">
    <div class="menu-grid">
      <div class="menu-item">
        <a
          [routerLink]="['/sistema/abrir-chamado']"
          routerLinkActive="router-link-active"
          class="menu-item"
        >
          <img src="assets/reportar-problema-icon.png" alt="Abrir Chamado" />
          <h3>Chamados Recebidos</h3>
        </a>
      </div>
      <div class="menu-item">
        <a
          [routerLink]="['/sistema/chatbot']"
          routerLinkActive="router-link-active"
          class="menu-item"
        >
          <img src="assets/chatbot-icon.png" alt="ChatBot" />
          <h3>Ajuda ChatBot</h3>
        </a>
      </div>
      <div class="menu-item">
        <a
          [routerLink]="['/sistema/board']"
          routerLinkActive="router-link-active"
          class="menu-item"
        >
          <img src="assets/kanban.png" alt="Kanban" />
          <h3>Kanban</h3>
        </a>
      </div>
      <div class="menu-item">
        <a
        [routerLink]="['/sistema/config']"
        routerLinkActive="router-link-active"
        class="menu-item"
      >
        <img src="assets/ajuda-codigo-icon.png" alt="Ajuda com Código" />
        <h3>Configurações</h3>
      </a>
      </div>
    </div>
  </section>
</body>
