<div class="reset-password-container">
    <h2>Bem-vindo!</h2>
    <p>É necessário redefinir a senha para logar na sua conta.</p>

    <div *ngIf="message" class="p-mb-2">
        <p-message severity="info" [text]="message" icon="pi pi-info-circle"></p-message>
    </div>

    <div class="form-field">
        <label for="temporaryPassword">Senha Temporária</label>
        <input id="temporaryPassword" type="password" pInputText [(ngModel)]="temporaryPassword" required />
    </div>

    <div class="form-field">
        <label for="newPassword">Nova Senha</label>
        <input id="newPassword" type="password" pInputText [(ngModel)]="newPassword" required />
    </div>

    <div class="form-field">
        <label for="confirmPassword">Confirme a Nova Senha</label>
        <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword" required />
    </div>

    <button pButton label="Cadastrar Senha" (click)="onSubmit()" class="submit-button"></button>
</div>
