body {
  font-family: 'Inter', sans-serif;
  color: #293E40;
  line-height: 1.6;
  background-color: #F4F5F7;
  margin: 0;
  padding: 0;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #293E40;
  color: #fff;
}
/* Estilo Global para Headers */
h1, h2, h3, h4, h5, h6 {
  color: #0079BF;
  margin: 0;
  padding: 0;
}

/* Estilo Global para Parágrafos */
p {
  margin: 0 0 20px 0;
  line-height: 1.6;
}

/* Estilo Global para Links */
a {
  color: #0079BF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #5BA4CF;
}

/* Estilo Global para Botões */
button {
  background-color: #61AFFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5BA4CF;
}

/* Estilo Global para Inputs e Textareas */
input,
textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 20px;
}

/* Estilo Global para Seções */
section {
  padding: 60px 0;
}

/* Estilo Global para Containers de Flexbox */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilo Global para Tabelas */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f4f4f4;
}

/* Estilo Global para Imagens */
img {
  max-width: 100%;
  height: auto;
}
