<div class="reset-new-password-container">
  <h2>Redefinir Senha</h2>
  <div *ngIf="message" class="p-mb-2">
    <p-message
      severity="info"
      [text]="message"
      icon="pi pi-info-circle"
    ></p-message>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="newPassword">Nova Senha</label>
      <input
        id="newPassword"
        type="password"
        pInputText
        formControlName="newPassword"
        required
      />
      <div
        *ngIf="
          resetForm.controls['newPassword'].invalid &&
          resetForm.controls['newPassword'].touched
        "
        class="error"
      >
        A nova senha é obrigatória e deve ter pelo menos 6 caracteres.
      </div>
    </div>

    <div class="form-field">
      <label for="confirmPassword">Confirme a Nova Senha</label>
      <input
        id="confirmPassword"
        type="password"
        pInputText
        formControlName="confirmPassword"
        required
      />
      <div
        *ngIf="
          resetForm.controls['confirmPassword'].hasError('mismatch') &&
          resetForm.controls['confirmPassword'].touched
        "
        class="error"
      >
        As senhas não correspondem.
      </div>
    </div>

    <button
      pButton
      label="Redefinir Senha"
      type="submit"
      class="submit-button"
      [disabled]="resetForm.invalid"
    ></button>
  </form>
</div>
