<div class="reset-new-password-container">
  <h2>Redefinir Senha</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="newPassword">Nova Senha</label>
      <input id="newPassword" type="password" formControlName="newPassword" required />
      <div *ngIf="resetForm.controls['newPassword'].invalid && resetForm.controls['newPassword'].touched" class="error">
        A nova senha é obrigatória e deve ter pelo menos 6 caracteres.
      </div>
    </div>

    <div class="form-field">
      <label for="confirmPassword">Confirme a Nova Senha</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" required />
      <div *ngIf="resetForm.controls['confirmPassword'].invalid && resetForm.controls['confirmPassword'].touched" class="error">
        A confirmação da senha é obrigatória.
      </div>
    </div>

    <button type="submit" class="submit-button" [disabled]="resetForm.invalid">Redefinir Senha</button>
  </form>
</div>
