<div class="dashboard-container">
  <nav class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <div class="logo">
      <button (click)="toggleSidebar()" class="hamburger-menu">
        <span class="hamburger-icon"></span>
      </button>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/empresa">
          <i class="icon-dashboard"></i>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/empresa/abrir-chamado" >
          <i class="icon-open-ticket"></i>
          <span *ngIf="!isCollapsed">Abrir Chamado</span>
        </a>
      </li>
      <li>
        <a routerLink="/empresa/cad_func">
          <i class="icon-settings"></i>
          <span *ngIf="!isCollapsed">Configurações</span>
        </a>
      </li>

      <li class="logout">
        <button (click)="logout()" class="logout-button">
          <i class="pi pi-sign-out"></i>
          <span *ngIf="!isCollapsed">Logout</span>
        </button>
      </li>
    </ul>

    
  </nav>

  <!-- Área onde as telas serão carregadas -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
