<header>
  <div class="system-header">
    <h1>TecFlux - Bem-vindo ao Sistema</h1>
  </div>
</header>

<body>
<section class="menu-section">
  <div class="menu-grid">
    <div class="menu-item">
      <a [routerLink]="['/sistema/abrir-chamado']" routerLinkActive="router-link-active" class="menu-item">
        <img src="assets/abrir-chamado-icon.png" alt="Abrir Chamado" />
        <h3>Abrir Chamado</h3>
      </a>
    </div>
    <div class="menu-item">
      <img src="assets/reportar-problema-icon.png" alt="Reportar Problema" />
      <h3>Reportar Problema</h3>
    </div>
    <div class="menu-item">
      <img src="assets/ajuda-codigo-icon.png" alt="Ajuda com Código" />
      <h3>Ajuda com Código</h3>
    </div>
    <div class="menu-item">
      <img src="assets/problemas-hardware-icon.png" alt="Problemas com Hardware" />
      <h3>Problemas com Hardware</h3>
    </div>
  </div>
</section>
</body>
