<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<div class="chatbot-container">
  <div class="sidebar">
    <button (click)="goBack()" class="back-button">
      <span class="material-symbols-outlined">arrow_back</span>
    </button>
  </div>

  <div class="chatbot-main">
    <div class="chatbot-messages">
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'user-message': message.isUser,
          'bot-message': !message.isUser
        }"
        [innerHTML]="message.content"
      ></div>
    </div>

    <div class="chatbot-input">
      <input
        [(ngModel)]="userInput"
        (keydown.enter)="sendMessage()"
        placeholder="Digite sua mensagem..."
      />
      <button (click)="sendMessage()">
        <span class="material-symbols-outlined">send</span>
      </button>
    </div>
  </div>
</div>
