.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura do container */
}

.chatbot-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  background-color: #f9f9f9; /* Cor de fundo do chatbot */
  border: 1px solid #ccc; /* Borda para definir a área do chatbot */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.chatbot-messages {
  flex-grow: 1; /* Permite que as mensagens ocupem o espaço restante */
  overflow-y: auto; /* Permite rolagem vertical se as mensagens excederem a altura */
  margin-bottom: 10px; /* Espaço inferior entre mensagens e input */
}

.user-message {
  text-align: right; /* Alinha mensagens do usuário à direita */
}

.bot-message {
  text-align: left; /* Alinha mensagens do bot à esquerda */
}

/* Estilo do botão e campo de entrada */
.chatbot-input {
  display: flex;
  gap: 10px; /* Espaço entre o campo de entrada e o botão */
  z-index: 10
}
.chatbot-input p-inputText {
  background-color: rgb(187, 187, 187); /* Tente uma cor clara */
  border: 1px solid #ccc; /* Borda para visualizar melhor */
}

.chatbot-input p-inputText {
  color: rgb(27, 27, 27); /* Altere para uma cor que contraste com o fundo */
}

.robot-icon {
  width: 40px; /* ajuste conforme necessário */
  height: 40px; /* ajuste conforme necessário */
  border-radius: 50%; /* deixa a imagem redonda */
  margin-right: 10px; /* espaçamento entre o ícone e o texto */
}

.formatted-text {
  white-space: pre-wrap; /* Quebra linhas com \n */
  word-wrap: break-word; /* Quebra linhas muito longas */
}
 
.user-message {
  text-align: right;
  background-color: #d1e7dd;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}
 
.bot-message {
  text-align: left;
  background-color: #b1e4fa;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}
