<div class="chatbot-container">
  <div class="chatbot-main">
    <h2>
      <img src="../../../assets/chatbot-icon.png" alt="FluxBot" class="robot-icon" />
      FluxBot
    </h2>
    <div class="chatbot-messages">
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'user-message': message.isUser,
          'bot-message': !message.isUser
        }"
      >
        <p-message [severity]="message.isUser ? 'success' : 'info'" [text]="message.content"></p-message>
      </div>
    </div>

    <div class="chatbot-input">
      <input
      [(ngModel)]="userInput"
      (keydown.enter)="sendMessage()"
      placeholder="Digite sua mensagem..."
      style="width: 100%; background-color: white; color: rgba(55, 55, 55, 0.618); border: 1px solid #ccc;"
    />

      <p-button (click)="sendMessage()" label="Enviar" icon="material-symbols-outlined:send" styleClass="p-button-outlined"></p-button>
    </div>
  </div>
</div>
