<div class="navbar">
  <div class="logo">
    <h1><a href="#">TecFlux</a></h1>
  </div>
  <div class="nav-links">
    <a routerLink="/home">Início</a>
    <a href="#">Recursos</a>
    <a href="#">Planos</a>
    <a href="#">Contato</a>
    <a routerLink="/sobre-nos">Sobre Nós</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/trabalhe-conosco">Trabalhe Conosco</a>

  </div>
</div>

<div class="sobre-nos">
  <header class="sobre-nos-header">
    <h1>Sobre Nós</h1>
  </header>
  <main class="sobre-nos-content">
    <h2>Quem Somos</h2>
    <p>
      Somos uma empresa especializada em gerenciamento de chamados com foco em agilidade e eficiência.
      Utilizamos o método Kanban para otimizar nossos processos e garantir a entrega rápida e eficaz dos
      serviços. Nossa missão é proporcionar soluções ágeis e eficazes para a gestão de solicitações, 
      assegurando que cada etapa seja realizada com a máxima qualidade.
    </p>
    <h2>Missão, Visão e Valores</h2>
    <ul>
      <li><strong>Missão:</strong> Melhorar a eficiência operacional dos nossos clientes através de soluções ágeis.</li>
      <li><strong>Visão:</strong> Ser referência no mercado de gerenciamento de chamados.</li>
      <li><strong>Valores:</strong> Agilidade, Transparência, Compromisso e Inovação.</li>
    </ul>
  </main>
  <footer class="sobre-nos-footer">
    <p>&copy; 2024 TecFlux. Todos os direitos reservados.</p>
  </footer>
</div>
